.footer {
  background-image: url('../assets/quotes.jpg');
  background-color: #6d56c1;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  color: #fff;
  position: relative;
}

.footer:before {
  background: linear-gradient(54deg,rgba(74,76,179,.95) 34%,hsla(0,34%,71%,.95));
  height: 100%;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  z-index: 0;
}

.footer_inner {
  position: relative;
  z-index: 20;
  padding-top: 50px;
}

.footer .section_head h1 {
  color: #fff;
}

.footer .block p {
  opacity: 1;
  color: #fff;
}

.footer .social {
  justify-content: center;
}

.footer .social a {
  opacity: 1;
}

.copyright {
  padding-bottom: 10px;
}

.copyright p {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  opacity: .4;
  width: 100%;
  text-align: center;
}


@media (min-width: 1023px) {
  .footer .social {
    justify-content: left;
  }
}
