.btn {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  text-transform: uppercase;
  max-width: 170px;
  color: #fff;
  font-weight: 600;
  border: 2px solid #6d56c1;
  background: linear-gradient(to right, #fff 50%, #6d56c1 50%);
  background-size: 200% 100%;
  background-position: right;
  transition: .4s ease;
}

.btn svg {
  transition: .4s ease;
}

.btn:hover {
  background-position: left;
  color: #6d56c1;
}

.btn:hover svg {
  fill: #6d56c1;
}
